package 'cgminer'

config 'asic-freq' 'default'
	
	#option 'freq_value'    '0982'  #250M
	#option 'chip_freq'     '250'        
	#option 'timeout'       '16'  
	
	#option 'freq_value'    '1286'  #237.5M
	#option 'chip_freq'     '237.5'        
	#option 'timeout'       '17'  
	
	#option 'freq_value'    '0882'  #225M
	#option 'chip_freq'     '225'        
	#option 'timeout'       '18'  
                                         
	option 'freq_value'    '1106'  #218.75M
	option 'chip_freq'     '218.75'        
	option 'timeout'       '18'  
	
	#option 'freq_value'    '1086'  #212.5M
	#option 'chip_freq'     '212.5'        
	#option 'timeout'       '18'  
	
	#option 'freq_value'    '1006'  #206.25M
	#option 'chip_freq'     '206.25'
    #option 'timeout'       '19'
	
	#option 'freq_value'    '0782'  #200M
	#option 'chip_freq'     '200'
    #option 'timeout'       '20'
    
	#option 'freq_value'    '1f07'  #196M
    #option 'chip_freq'     '196'
    #option 'timeout'       '20'
                                         
    #option 'freq_value'    '0f03'  #193M
    #option 'chip_freq'     '193'
    #option 'timeout'       '20'
    
	#option 'freq_value'    '0d83'  #175M
	#option 'chip_freq'     '175'        
	#option 'timeout'       '23'  
                                         
	#option 'freq_value'    '0b83'  #150M
	#option 'chip_freq'     '150'
    #option 'timeout'       '27'
    
	#option 'freq_value'    '0983'  #125M
    #option 'chip_freq'     '125'
    #option 'timeout'       '33'
                                         
    #option 'freq_value'    '0783'  #100M
    #option 'chip_freq'     '100'
    #option 'timeout'       '40'    
